body {
  margin: 20px;
  background-color: lightgrey;
}

.app-container {
  display: grid;
  grid-template-columns: 300px 1fr; /* Left form area and right grid area */
  gap: 20px;
}

@media (min-width: 600px) {
  .app-container {
    grid-template-columns: 300px 1fr;
  }
}

.note-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Adjust textarea and input styling */
textarea,
input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
}

/* Styling for the Create Note button */
.note-form button {
  border-radius: 5px;
  background-color: rgb(64, 154, 184);
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.note-form button:hover {
  background-color: rgb(106, 175, 198);
  cursor: pointer;
}

/* Style for the Dark Mode toggle button */
.theme-toggle {
  margin-top: 10px; /* Space between the form and the toggle */
}

.theme-toggle button {
  padding: 10px;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.theme-toggle button:hover {
  background-color: #2980b9;
}

/* Grid styling for the notes */
.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 20px;
}

/* Individual note item styling */
.note-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Header of the note with a close button */
.notes-header {
  display: flex;
  justify-content: flex-end;
}

/* Close button for the note */
.notes-header button {
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode .note-item {
  background-color: #555;
  color: white;
}

.dark-mode input,
.dark-mode textarea {
  background-color: #444;
  color: white;
  border: 1px solid #888;
}

.dark-mode .note-form button {
  background-color: rgb(100, 154, 184);
}